.list-item-wrapper:focus-within .list-item-primary-content::before, .list-item-wrapper:focus .list-item-primary-content::before, .list-item-wrapper:hover .list-item-primary-content::before {
  opacity: 0;
}

#legal-deposit-explanation {
  color: #b10000;
}

